<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>> Brother-InCode</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
    <!--Cabeçalho-->
	<div id="container">
		<div>
			<div class="logo">
				> Brother-InCode
			</div>
			<div id="Login">
				<a href="login.html">Login</a>
			</div>
			<div id="topo-menu">
				<ul style="list-style: none; margin: 0; padding: 0;">
					<li><a href="main2.html" class="selected"><img src="img/image 4.png" class="icone"> Orientações</a></li>
					<li><a href="quem somos.html"><img src="img/image 2.png" class="icone"> Quem somos</a></li>
					<li><a href="tutorias.html"><img src="img/image 3.png" class="icone"> Tutorias</a></li>				
					<li><a href="perfil.html" ><img src="img/image 5.png" class="icone"> Perfil</a></li> 
				</ul>
			</div>
		</div>		
	</div>
	<div id="corpo">
		<div id="img-container">
	</div>
    
    <div id="texto-corpo2" >
        <!--Corpo link para clique tutoria-->
            <ul>
                <li style="list-style: none; display: inline-block;">
                    <a href="main.html">
                            <h2 style="position:static; margin-left: 90px; margin-top: 20px; float: left;">
                            <ion-icon name="person" style="position: static;margin-left: 20px; margin-right: 20px;"></ion-icon>
                            Joaquim Maria</h2>

                            <!--Mostragem de suas competências-->
                            <h2 style=" float: right; margin-top: 22px; margin-left: -300px;">Capacitações:</h2>                                    
                            <ul style="float: right; margin-top: 25px; margin-right: -40%;">
                                <li>IA voltada a apredizagem de máquina;</li>
                                <li>Sistema ChatGPT.</li>
                            </ul>
    
                            <!--Mostragem de avaliação com base nos usuários-->
                            <div style="float: left; margin-left: -20%; padding: -25px; margin-top: 60px;">
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                            </div>
                    </a>
                </li>
            </ul>
            <!--Corpo link para clique tutoria-->
            <ul>
                <li style="list-style: none; display: inline-block;">
                    <a href="main.html">
                            <h2 style="position:static; margin-left: 90px; margin-top: 20px; float: left;">
                            <ion-icon name="person" style="position: static;margin-left: 20px; margin-right: 20px;"></ion-icon>
                            Joaquim Maria</h2>

                            <!--Mostragem de suas competências-->
                            <h2 style=" float: right; margin-top: 22px; margin-left: -300px;">Capacitações:</h2>                                    
                            <ul style="float: right; margin-top: 25px; margin-right: -40%;">
                                <li>IA voltada a apredizagem de máquina;</li>
                                <li>Sistema ChatGPT.</li>
                            </ul>
    
                            <!--Mostragem de avaliação com base nos usuários-->
                            <div style="float: left; margin-left: -20%; padding: -25px; margin-top: 60px;">
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                            </div>
                    </a>
                </li>
            </ul>
            <!--Corpo link para clique tutoria-->
            <ul>
                <li style="list-style: none; display: inline-block;">
                    <a href="main.html">
                            <h2 style="position:static; margin-left: 90px; margin-top: 20px; float: left;">
                            <ion-icon name="person" style="position: static;margin-left: 20px; margin-right: 20px;"></ion-icon>
                            Joaquim Maria</h2>

                            <!--Mostragem de suas competências-->
                            <h2 style=" float: right; margin-top: 22px; margin-left: -300px;">Capacitações:</h2>                                    
                            <ul style="float: right; margin-top: 25px; margin-right: -40%;">
                                <li>IA voltada a apredizagem de máquina;</li>
                                <li>Sistema ChatGPT.</li>
                            </ul>
    
                            <!--Mostragem de avaliação com base nos usuários-->
                            <div style="float: left; margin-left: -20%; padding: -25px; margin-top: 60px;">
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                            </div>
                    </a>
                </li>
            </ul>
            <!--Corpo link para clique tutoria-->
            <ul>
                <li style="list-style: none; display: inline-block;">
                    <a href="main.html">
                            <h2 style="position:static; margin-left: 90px; margin-top: 20px; float: left;">
                            <ion-icon name="person" style="position: static;margin-left: 20px; margin-right: 20px;"></ion-icon>
                            Joaquim Maria</h2>

                            <!--Mostragem de suas competências-->
                            <h2 style=" float: right; margin-top: 22px; margin-left: -300px;">Capacitações:</h2>                                    
                            <ul style="float: right; margin-top: 25px; margin-right: -40%;">
                                <li>IA voltada a apredizagem de máquina;</li>
                                <li>Sistema ChatGPT.</li>
                            </ul>
    
                            <!--Mostragem de avaliação com base nos usuários-->
                            <div style="float: left; margin-left: -20%; padding: -25px; margin-top: 60px;">
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                            </div>
                    </a>
                </li>
            </ul>
            <!--Corpo link para clique tutoria-->
            <ul>
                <li style="list-style: none; display: inline-block;">
                    <a href="main.html">
                            <h2 style="position:static; margin-left: 90px; margin-top: 20px; float: left;">
                            <ion-icon name="person" style="position: static;margin-left: 20px; margin-right: 20px;"></ion-icon>
                            Joaquim Maria</h2>

                            <!--Mostragem de suas competências-->
                            <h2 style=" float: right; margin-top: 22px; margin-left: -300px;">Capacitações:</h2>                                    
                            <ul style="float: right; margin-top: 25px; margin-right: -40%;">
                                <li>IA voltada a apredizagem de máquina;</li>
                                <li>Sistema ChatGPT.</li>
                            </ul>
    
                            <!--Mostragem de avaliação com base nos usuários-->
                            <div style="float: left; margin-left: -20%; padding: -25px; margin-top: 60px;">
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                            </div>
                    </a>
                </li>
            </ul>
            <!--Corpo link para clique tutoria-->
            <ul>
                <li style="list-style: none; display: inline-block;">
                    <a href="main.html">
                            <h2 style="position:static; margin-left: 90px; margin-top: 20px; float: left;">
                            <ion-icon name="person" style="position: static;margin-left: 20px; margin-right: 20px;"></ion-icon>
                            Joaquim Maria</h2>

                            <!--Mostragem de suas competências-->
                            <h2 style=" float: right; margin-top: 22px; margin-left: -300px;">Capacitações:</h2>                                    
                            <ul style="float: right; margin-top: 25px; margin-right: -40%;">
                                <li>IA voltada a apredizagem de máquina;</li>
                                <li>Sistema ChatGPT.</li>
                            </ul>
    
                            <!--Mostragem de avaliação com base nos usuários-->
                            <div style="float: left; margin-left: -20%; padding: -25px; margin-top: 60px;">
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                            </div>
                    </a>
                </li>
            </ul>
            <!--Corpo link para clique tutoria-->
            <ul>
                <li style="list-style: none; display: inline-block;">
                    <a href="main.html">
                            <h2 style="position:static; margin-left: 90px; margin-top: 20px; float: left;">
                            <ion-icon name="person" style="position: static;margin-left: 20px; margin-right: 20px;"></ion-icon>
                            Joaquim Maria</h2>

                            <!--Mostragem de suas competências-->
                            <h2 style=" float: right; margin-top: 22px; margin-left: -300px;">Capacitações:</h2>                                    
                            <ul style="float: right; margin-top: 25px; margin-right: -40%;">
                                <li>IA voltada a apredizagem de máquina;</li>
                                <li>Sistema ChatGPT.</li>
                            </ul>
    
                            <!--Mostragem de avaliação com base nos usuários-->
                            <div style="float: left; margin-left: -20%; padding: -25px; margin-top: 60px;">
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                            </div>
                    </a>
                </li>
            </ul>
            <!--Corpo link para clique tutoria-->
            <ul>
                <li style="list-style: none; display: inline-block;">
                    <a href="main.html">
                            <h2 style="position:static; margin-left: 90px; margin-top: 20px; float: left;">
                            <ion-icon name="person" style="position: static;margin-left: 20px; margin-right: 20px;"></ion-icon>
                            Joaquim Maria</h2>

                            <!--Mostragem de suas competências-->
                            <h2 style=" float: right; margin-top: 22px; margin-left: -300px;">Capacitações:</h2>                                    
                            <ul style="float: right; margin-top: 25px; margin-right: -40%;">
                                <li>IA voltada a apredizagem de máquina;</li>
                                <li>Sistema ChatGPT.</li>
                            </ul>
    
                            <!--Mostragem de avaliação com base nos usuários-->
                            <div style="float: left; margin-left: -20%; padding: -25px; margin-top: 60px;">
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                            </div>
                    </a>
                </li>
            </ul>
            <!--Corpo link para clique tutoria-->
            <ul>
                <li style="list-style: none; display: inline-block;">
                    <a href="main.html">
                            <h2 style="position:static; margin-left: 90px; margin-top: 20px; float: left;">
                            <ion-icon name="person" style="position: static;margin-left: 20px; margin-right: 20px;"></ion-icon>
                            Joaquim Maria</h2>

                            <!--Mostragem de suas competências-->
                            <h2 style=" float: right; margin-top: 22px; margin-left: -300px;">Capacitações:</h2>                                    
                            <ul style="float: right; margin-top: 25px; margin-right: -40%;">
                                <li>IA voltada a apredizagem de máquina;</li>
                                <li>Sistema ChatGPT.</li>
                            </ul>
    
                            <!--Mostragem de avaliação com base nos usuários-->
                            <div style="float: left; margin-left: -20%; padding: -25px; margin-top: 60px;">
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                                <span class="botao_icon">
                                    <ion-icon name="star"></ion-icon>
                                </span>
                            </div>
                    </a>
                </li>
            </ul>
            

        <!--FIM CORPO LINK-->
        
        <!--Apresentação bem-vindo-->
        <div id="sobre2" style="position:fixed;  float: right;">

            
            <h2>SEJA BEM-VINDO</h2>
            <p style="text-align: justify;color: #000;">Brother-InCode</p>
            <p style="color: #000;">Um espaço para todo e qualquer programador.</p>
       
            		
		    </div>
            
    </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>

    <!--Rodapé-->    
    <div id="container-rodape" style="clear: both;">
        <div id="rodape" style="text-align: center;">
            &copy; Copyright 2023-2023 Brother-InCode
        </div>
    </div> 
</body>
</html>